// nesting

div.bg-grey{
    background-color: map-get($map: $pColores, $key: 'white');
    font-size: $txtSm + 0.1rem;
    @media (min-width: 376px) {
        font-size: $txtMd;
    }
    @media (min-width: 992px) {
        font-size: $txtMd + 0.4rem;
    }
}

nav{
    background: linear-gradient(to right, #102D75, #071536); 
    div.container-fluid{
        margin: 0 10% 0 15%;
    }
    a.navbar-brand{
        margin-right: 0;
        img{
            width: 25vw;
            @media (min-width: 376px) {
                width: 20vw;
            }
            @media (min-width: 578px) {
                width: 13vw;
            }
            @media (min-width: 992px) {
                width: 8vw;
            }
            @media (min-width: 1280px) {
                width: 6vw;
            }
        }
    }
    
    div{
        padding: 0vw 3vw;
        list-style: none;
        .nav-link{
            color: map-get($map: $pColores, $key: 'white') !important;
            font-size: $txtMd + 0.2rem;
            font-weight: $txtGrues;
            font-family: $mainFont;
            text-align: start;
            border: none;
            background: none;
            &:hover{
                color: gold !important;
            }
            @media (min-width: 768px){
                font-size: $txtLg - 0.2rem;
            }
        }
    }
}